# Python
*.py[cod]
*$py.class

# Virtual environments
# .venv/ was removed as requested

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.idea/
.vscode/

# Logs
*.log

# Project specific
*.dscache
models/residual

# Note: data/ is not ignored as per your request