# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.idea/
.vscode/

# Logs
*.log

# Optional - uncomment if you want to ignore data
data/
/data/
models/residual